.user__input {
	margin: 20px 15px;
	display: flex;
	flex-direction: column;


	label {
		font-size: 18px;
		font-style: italic;
	}

	input {
		font-size: 16px;
		width: 50%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 10px;
		font-weight: 600;
		&.invalid-input {
			border-bottom: 2px solid red;
			box-shadow: 3px 3px 5px red;
		}
	}


	input.inactive__input {
		cursor: not-allowed;
	}

	textarea {
		font-weight: 600;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 10px;
		font-size: 16px;
		width: 95%;
		resize: none;

		&:disabled {
			cursor: not-allowed;
		}
	}

}