.app {
	width: 100%;
	min-height: 100vh;
	display: flex;

	.sort-btn-panel-wrap {
		width: 100%;
		height: 100%;
	}

	.user-info-panel-wrap, .edit-user-info-wrap {
		width: 80%;
		min-height: 100%;
	}
}